.footer {
  padding: 100px 0 0;
  background: $pete_yellow;
  display: flex;

  &--right {
    width: 55%;

    h2 {
      text-align: center;
    }

    &--center {
      max-width: 70%;
      width: 70%;
      margin: auto;
    }
  }

  &--left {
    width: 45%;
  }

  &--image {
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../dist/img/bowling1.jpg');
    max-width: 90%;
    width: 90%;
    margin: 0 auto 100px;
  }

  &--quote {
    font-family: 'grotesk';
    font-size: 30px;
    width: 400px;
    position: absolute;
    margin: 20px 0 0 50px;
    font-weight: 900;
    line-height: 35px;

  }
}
