@font-face {
    font-family: 'grotesk';
    src: url('../../dist/type/HKGrotesk-Bold.woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'grotesk';
    src: url('../../dist/type/HKGrotesk-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'grotesk';
    src: url('../../dist/type/HKGrotesk-Medium.woff2');
    font-weight: 500;
}

h1 {
  font-family: 'grotesk';
  font-weight: 900;
  font-size: 65px;
  color: $white;
}

h2 {
  font-family: 'grotesk';
  font-weight: 900;
  font-size: 50px;
  color: $black;
}

h4 {
  font-family: 'grotesk';
  font-weight: 500;
  font-size: 24px;
  color: $dark-grey;
}

a {
  font-family: 'grotesk';
  font-weight: 500;
  font-size: 24px;
  color: blue;
  text-decoration: none;
}

p {
  font-family: 'grotesk';
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  margin: 20px 0;
}
